/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header */

header img {
    border-right: 2px solid #e5e5e5;
    width: 15%;
    padding-right: 10px;
    margin-bottom: 20px;
}

header li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    padding: 5px;
}

header li a, header li a:visited {
    text-decoration: none;
    color: #888888;
}

.top-section {
    height: 400px;
    background-color: #e1d67a;
    margin: 10px auto;
}

.bottom-section {
    background-color: #0087fd;
    margin: 10px auto;
}

.row {
    padding: 10px 0;
}

.row div, .top-bar {
    background-color: #abcfe7;
}



.top-bar {
    height: 100px;
    /* margin-bottom: 10px; */
}

.side-column{
    float: left;
    width: 25%;
    height: 300px;
}

.middle-column {
    float: left;
    width: calc(50% - 20px);
    height: 300px;
    margin: auto 10px;
}

footer {
    height: 100px;
    background-color: #8801fe;
}